<div id='calculator' class='calculator'>
  <div id='display' class='display'></div>

  <div class='operand'>7</div>
  <div class='operand'>8</div>
  <div class='operand'>9</div>
  <div class='operator' id='delete'>&larr;</div>

  <div class='operand'>4</div>
  <div class='operand'>5</div>
  <div class='operand'>6</div>
  <div class='operator'>/</div>

  <div class='operand'>1</div>
  <div class='operand'>2</div>
  <div class='operand'>3</div>
  <div class='operator'>*</div>

  <div class='operator'>(</div>
  <div class='operand'>0</div>
  <div class='operator'>)</div>
  <div class='operator'>-</div>

  <div class='equals' id='equals'>=</div>
  <div class='operator'>+</div>
</div>

<script>
  var dis = document.getElementById('display');
  var del = document.getElementById('delete');
  var equ = document.getElementById('equals');
  var opd = document.getElementsByClassName('operand');
  var opt = document.getElementsByClassName('operator');

  function addPress(array) {
    for (var i = 0; i < array.length; ++i) {
      if (array[i].id == 'delete') continue;
      array[i].onclick = (e) => {
        dis.innerHTML += e.target.innerHTML;
      }
    }
  }

  addPress(opd);
  addPress(opt);

  del.onclick = () => {
    var txt = dis.innerHTML;
    if (txt == 'error') dis.innerHTML = '';
    else dis.innerHTML = txt.substr(0, txt.length-1);
  }

  equ.onclick = () => {
    var url = '/evaluate';
    var hdr = new Headers({
      'Content-Type': 'application/json',
      'Accept': 'application/json'
    });

    var params = {
      method: 'POST',
      headers: hdr,
      body: JSON.stringify({exp: dis.innerHTML})
    };

    fetch(url, params).then(function(response) {
      return response.json();
    }).then(function(data) {
      console.log(data);
      dis.innerHTML = data.solution;
    });
  }
</script>
