html {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.calculator {
  background-color: #777;
  box-shadow: 0px 0px 10px #888;
  height: auto;
  width: 295px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  padding-bottom: 0px;
}

.display {
  color: white;
  background-color: #aaa;
  text-align: right;
  height: 75px;
  font-size: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.operand {
  height: 60px;
  width: 60px;
  background-color: #ddd;
  color: tomato;
  font-size: 50px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
}

.operator {
  height: 60px;
  width: 60px;
  background-color: tomato;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
}

.equals {
  height: 60px;
  width: 210px;
  background-color: tomato;
  color: white;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  margin-right: 10px;
}

.operand:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #000;
}
.operator:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #fff;
}
.equals:hover {
  cursor: pointer;
  box-shadow:0px 0px 10px #fff;
}
